* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
}

/* left side admin panel */

/* container */

#dashboard {
    width: 22vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: #1992D4; 
    padding: 25px;
}

/* general dashboad section */

ul a {
    color: #fff;
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    height: 30px;
    text-decoration: none;
}

ul a img {
    color: #fff;
}
/* top dashboad section */

.top a {
    height: 60px;
    display: flex;
    align-items: center;
}

.top  a li {
    font-weight: bold;
    font-size: 1.8rem;
}

.top a img {
    height: 60px;
    width: 60px;
}

/* middle dashboad section & bottom section */

.middle a, .bottom a {
    padding-left: 1rem;
    margin-top: .5rem;
}

/* remove margin-top for first element of middle bottom of dashboard to respect the gap */

.middle :first-child, .bottom :first-child{
    margin-top: 0;
}

/* making dashboard font bold */

a li {
    font-weight: bold;
}

/* navigation section */

.navbar {
    width: calc(100vw - 22vw);
    height: 27vh;
    border: 1px solid black;
    padding-left: 2rem;
    background-color: #fff;
}

.top-navbar label {
    display: flex;
    gap: 1rem;
}

.top-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 1rem;
}

input[type=search] {
    width: 35vw;
    background-color: #1992D4;
    background-color: silver;
    border-radius: 15px;
}

/* top left section of navigation */

.top-right {
    gap: 1rem;
}

.top-left img, .top-right img {
    height: 5vh;
}

/* top right section of navigation */

.top-right {
    width: 25vw;
    height: 6vh;
    display: flex;
}

/* bottom navigation section */

.account {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1rem;
}

/* .bottom-right {} */

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3rem 2rem 0;
    height: 30px;
}

.buttons button {
    font-size: 1rem;
    font-weight: bolder;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: #1992D4; 
}
